# Dependencies
node_modules/
.pnpm-store/

# Production Build
dist/
build/

# Netlify Local Dev
.netlify/

# API keys & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Files
.DS_Store
Thumbs.db
